# Salida generada por quarto
book-quarto/
index_files/
site_libs/
src/*.html
/*.pdf
src/temario-oposiciones-tic.pdf

# Sistema
.DS_Store

/.quarto/
**/*.quarto_ipynb

# temporary files
tmp/

# IDE files
.idea/

# Output directories
book-mkdocs/

# Python cache
__pycache__/
*.pyc
tools/__pycache__/